.header {
  &__inner {
    display: flex;
    align-items: center;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  line-height: 31px;
  &__text {
    color: $accent-color;
  }
}
.nav {
  display: flex;
  align-items: center;
  &__list {
    display: flex;
    margin-left: 93px;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $brand-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color $transition-dur-and-func;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--active {
    color: $accent-color;
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
    }
  }
}
.contact {
  display: flex;
  margin-left: auto;
  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $text-color;
    transition: color $transition-dur-and-func;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
