.register-form {
  &__title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    text-align: center;
  }
  &__group {
    margin-bottom: 20px;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $text-color;
  }
  &__field {
    padding-left: 42px;
    padding-right: 12px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent;
    border-radius: 4px;
    transition: border-color $transition-dur-and-func;
    &:focus {
      border-color: $accent-color;
    }
  }
  &__icon-inner {
    position: relative;
  }
  &__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    fill: $brand-color;
    top: 50%;
    left: 12px;
    transform: translatey(-50%);
    transition: fill $transition-dur-and-func;
  }
  &__message {
    resize: none;
    padding: 12px 16px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    border-radius: 4px;
    transition: border-color $transition-dur-and-func;
    &:focus {
      border-color: $accent-color;
    }
    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
    }
  }
  &__agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
  }
  &__agreement-text {
    line-height: 24px;
    color: $text-color;
    user-select: none;
  }
  &__agreement-link {
    color: $accent-color;
    text-decoration: underline;
  }
  &__btn {
    display: block;
    margin: 0 auto;
  }
}
.register-form__field:focus + .register-form__icon {
  fill: $accent-color;
}
.register-form__icon-uncheck {
  fill: $brand-color;
  transition: opacity $transition-dur-and-func;
}
.register-form__checkbox:checked
  + .register-form__agreement-icon
  > .register-form__icon-uncheck {
  opacity: 0;
}
.register-form__icon-check {
  opacity: 0;
  fill: $accent-color;
  transition: opacity $transition-dur-and-func;
}
.register-form__checkbox:checked
  + .register-form__agreement-icon
  > .register-form__icon-check {
  opacity: 1;
}
