@import "./utils/variables";
@import "./global";
@import "./header";
@import "./home/hero";
@import "./home/features";
@import "./home/about";
@import "./home/team";
@import "./home/client";
@import "./footer";
@import "./modal";
@import "./portfolio/projects";
@import "./register-form";
