.features {
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  &__item {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }
  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: #f5f4fa;
  }
  &__heading {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  &__text {
    line-height: 24px;
    color: $text-color;
  }
}
